<div class="" >
	<%= render 'layouts/error_flash' %>

	<div class="row">
		<div class="col s12 m12 l4">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Web 100</span>
					<p>See the detail..</p>
				</div>
				<div class="card-action">
					<a target="_blank" href="http://140.123.242.36:20001">Website</a>
					<a class="modal-trigger" href="#web-100">Submit flag</a>
				</div>
			</div>
		</div>

		<div class="col s12 m12 l4">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Web 200</span>
					<p>Bypass it!</p>
				</div>
				<div class="card-action">
					<a target="_blank" href="http://140.123.242.36:20002">Website</a>
					<a class="modal-trigger" href="#web-200">Submit flag</a>
				</div>
			</div>
		</div>

		<div class="col s12 m12 l4">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Web 300</span>
					<p>SQL Injection</p>
				</div>
				<div class="card-action">
					<a target="_blank" href="http://140.123.242.36:20003">Website</a>
					<a class="modal-trigger" href="#web-300">Submit flag</a>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col s12 m12 l4">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Web 400</span>
					<p>Please see the website there</p>
				</div>
				<div class="card-action">
					<%= link_to "Download", problems_sqlpwn_url ,  {:style => 'margin:3px'}%>
					<a target="_blank" style="margin:6px"href="http://140.123.242.36:30001">Website</a>
					<a class=" modal-trigger" href="#web-400">Submit</a>
				</div>
			</div>
		</div>

		<div class="col s12 m12 l4">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Pwn 100</span>
					<p>nc 140.123.242.36 11111</p>
				</div>
				<div class="card-action">
					<%= link_to "Download", problems_pwn100_url %>
					<a class="  modal-trigger" href="#pwn-100">Submit flag</a>
				</div>
			</div>
		</div>

		<div class="col s12 m12 l4">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Pwn 200</span>
					<p>nc 140.123.242.36 11112</p>
				</div>
				<div class="card-action">
					<%= link_to "Download", problems_pwn200_url %>
					<a class="  modal-trigger" href="#pwn-200">Submit flag</a>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col s12 m12 l4">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">Pwn 300</span>
					<p>nc 140.123.242.36 11113</p>
				</div>
				<div class="card-action">
					<%= link_to "Download", problems_pwn300_url %>
					<a class="  modal-trigger" href="#pwn-300">Submit flag</a>
				</div>
			</div>
		</div>
	</div>

	<%= render partial: "/layouts/modal", collection: @question_list , as: :question %>

</div>
