<div class="container">

	<%= render 'layouts/error_flash' %>

	<div class="section header" >
		<h5>Login</h5>
	</div>

	<%= form_tag('/user/login') do  %>
        <div class="row">
			<div class="input-field col s12">
				<%= text_field :user, :username %>
				<label for="username">User Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
			  <%= password_field :user,:password %>
			  <label for="password">Password</label>
			</div>
        </div>
		<%= submit_tag "Login" , class: "waves-effect waves-light btn" %>
	<% end %>
</div>
