/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require materialize
 *= require_tree .
 *= require_self
 */
html, body {
	height: 100%;
}

.above_wrapper {
	min-height: 100%;
	position: relative;
}



.main {
	max-width: 960px;
	margin: 0 auto;
	padding-top: 64px;
	padding-bottom: 70px;
}

.footer_mod {
	position: absolute;
	bottom: 0; 
	width: 100%;
}
