<% if flash[:error] %>
<div class="row">
	<div class="col s12 m12 l12">
	  <div class="card light-blue accent-3">
		<div class="card-content white-text">
			<span class="card-title">Failed</span>
			<p><%=flash[:error]%></p>
		</div>
	  </div>
	</div>
</div>	
	

<% end %>

<% if flash[:success] %>
<div class="row">
	<div class="col s12 m12 l12">
	  <div class="card light-blue accent-3">
		<div class="card-content white-text">
			<span class="card-title">Success</span>
			<p><%=flash[:success]%></p>
		</div>
	  </div>
	</div>
</div>	
<% end %>

