<div class="nav-wrapper container">
	<a href="<%= root_path %>" class="brand-logo"> One Week CTF </a>
	<ul id="nav-mobile" class="right hide-on-med-and-down">
		<li><a href="<%= root_path %>"#>Problems</a></li>
		<li>
			<% if session[:username] %>
				<%= link_to "Logout (#{session[:username]})", :logout %>
			<% else %>
				<%= link_to "Login", :login %>
			<% end %>
		</li>
	</ul>



</div>
