<div id="<%= question %>" class="modal">                                                                                                                                                       
	<div class="modal-content">
		<h4>Flag Submit</h4>
		<div class="row">
			<%=form_tag({controller: :problems,action: :index } ,{class: "col s12"} ) do %>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">vpn_key</i>
						<%= text_field :user, :flag, class: "validate" %>
						<label for="icon_prefix">flags</label>
					</div>
				</div>
				<%= hidden_field :user, :question, :value => question %>
				<div class="row">
					<%= submit_tag "Send", class: " waves-effect waves-light btn"  %>
				</div>
			<% end %> 
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>

</div>

