
<%  part = question.split('-')  %>

<% if part[0] == "web" %>

<div class="row">
	<div class="col s12 m6 l4">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Web 100</span>
				<p>Please see the website there</p>
			</div>
			<div class="card-action">
				<a href="#">Website</a>
				<a class="  modal-trigger" href="#web-100">Submit the flag</a>
			</div>
		</div>
	</div>
</div>                   

<% elsif part[0] == "pwn" %>

<div class="row">
	<div class="col s12 m6 l4">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Web 100</span>
				<p></p>
			</div>
			<div class="card-action">
				<a class="  modal-trigger" href="#web-100">Submit the flag</a>
			</div>
		</div>
	</div>
</div>                   

<% elsif part[0] == "misc" %>



<% elsif part[0] == "crypto" %>

<% end %>


                                      
