<!DOCTYPE html>
<html>
<head>
  <title>One Week CTF</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Nav bar -->
<div class="above_wrapper">
	<nav class=" indigo darken-1 " role="navigation"><%= render 'layouts/menu' %> </nav>
<div class="main ">
	<%= yield %>
</div>
<footer class=" indigo darken-1 page-footer footer_mod"><%= render 'layouts/footer' %></footer>
</div>

</body>
</html>
